* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body, html {
  font-size: 62.5%; }

body {
  font-size: 62.5%; }

.nav {
  background-color: white; }
  .nav__menu {
    display: flex;
    font-size: 2rem;
    list-style-type: none;
    font-family: 'Raleway', sans-serif; }
    .nav__menu__item {
      margin-right: 1.4rem;
      text-transform: uppercase; }

.header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252934; }
  .header__centerpiece {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', sans-serif; }
    .header__centerpiece__text {
      color: white;
      display: inline-block;
      font-size: 4.2666rem;
      margin-bottom: 2rem;
      text-align: center; }
    .header__centerpiece__link {
      font-size: 2.333rem;
      display: block;
      color: white;
      border: 1px white solid;
      padding: 1rem 1.5rem;
      margin-top: 1rem;
      text-decoration: none;
      position: absolute;
      top: 50%;
      transform: translateY(60px); }

.about .strengths {
  margin: auto;
  display: flex;
  justify-content: space-between; }
  .about .strengths__item {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    width: 25%; }
    .about .strengths__item__header {
      text-align: center;
      font-size: 2.4rem;
      margin: 1rem 0; }
    .about .strengths__item__text {
      text-align: center;
      font-size: 1.6rem;
      margin: auto; }
    .about .strengths__item__hexwrapper {
      height: 100px;
      width: 100px;
      display: inline-block;
      text-align: center;
      position: relative; }
    .about .strengths__item__hex {
      height: 100%;
      background-color: red;
      width: calc(100% * 0.57735);
      background-color: #04C2C9;
      height: 100%;
      width: calc(100% * 0.57735);
      display: inline-block; }
      .about .strengths__item__hex i {
        top: 50%;
        position: absolute;
        left: 50%;
        font-size: 5rem;
        z-index: 1;
        color: white;
        transform: translate(-50%, -50%); }
      .about .strengths__item__hex:before {
        position: absolute;
        top: 0;
        right: calc((100% / 2) - ((100% * 0.57735) / 2));
        background-color: inherit;
        height: inherit;
        width: inherit;
        content: '';
        transform: rotateZ(60deg); }
      .about .strengths__item__hex:after {
        position: absolute;
        top: 0;
        right: calc((100% / 2) - ((100% * 0.57735) / 2));
        background-color: inherit;
        height: inherit;
        width: inherit;
        content: '';
        transform: rotateZ(-60deg); }

.about .skills {
  width: 80%; }

.skill-container {
  height: 28px;
  width: 100%;
  display: flex;
  background-color: #eee;
  position: relative;
  margin: 1rem 0; }
  .skill-container:last-child {
    margin-bottom: 0; }
  .skill-container .skill-label {
    height: 100%;
    width: 110px;
    background-color: #04C2C9;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1.466rem; }

.bio-and-skills {
  display: flex;
  align-items: center;
  padding-bottom: 10rem;
  padding-top: 10rem;
  margin: auto;
  justify-content: space-evenly; }
  .bio-and-skills__bio__image-container {
    height: 250px;
    width: 250px;
    background-color: black;
    margin: auto;
    border-radius: 125px; }
  .bio-and-skills__bio__image-header {
    font-size: 2.4rem;
    margin: 2rem 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #616161; }
  .bio-and-skills__bio__image-text {
    font-size: 1.6rem;
    color: #616161;
    text-align: center;
    font-family: 'Raleway', sans-serif; }
  .bio-and-skills .bio, .bio-and-skills .skills {
    height: 100%;
    width: 40%; }
  .bio-and-skills .bio img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 150px;
    margin: auto;
    display: block; }

@keyframes slideDown {
  0% {
    top: -100px; }
  100% {
    top: 0px; } }

.projects {
  margin: auto;
  background-color: #f5f5f5;
  padding-bottom: 10rem; }
  .projects .projects-grid {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    max-width: 1200px; }
    .projects .projects-grid__project {
      overflow: hidden;
      position: relative;
      width: 33.33%;
      padding-top: calc((33.33% / 100) * 76.92);
      background-color: red;
      background-size: cover;
      background-repeat: no-repeat; }
      .projects .projects-grid__project:before {
        content: '';
        transition: 1s opacity;
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: #f5f5f5;
        top: 0;
        left: 0;
        opacity: 0; }
      .projects .projects-grid__project__learn {
        opacity: 0;
        padding: .7rem 1.3rem;
        border: 2px solid white;
        font-size: 1.733rem;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Raleway', sans-serif;
        left: 50%;
        position: absolute;
        top: 100%;
        transform: translate(-50%, 0);
        transition: all 1s;
        color: black; }
      .projects .projects-grid__project:hover:before {
        opacity: 1; }
      .projects .projects-grid__project:hover .projects-grid__project__learn {
        transform: translate(-50%, -7rem);
        opacity: 1; }
      .projects .projects-grid__project:hover .projects-grid__project__titles {
        transform: translateY(7.2rem);
        opacity: 1; }
      .projects .projects-grid__project__titles {
        top: 0;
        transform: translateY(-100%);
        position: absolute;
        width: 100%;
        transition: all 1s;
        opacity: 0; }
      .projects .projects-grid__project__subtitle {
        text-align: center;
        font-size: 1.6rem;
        font-family: 'Raleway', sans-serif; }
      .projects .projects-grid__project__title {
        font-size: 2.133rem;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        width: 100%; }
      .projects .projects-grid__project:first-child {
        background-image: url(./../img/uncouthAspect.png); }
      .projects .projects-grid__project:nth-child(2) {
        background-image: url(./../img/woodramAspect.png); }
      .projects .projects-grid__project:nth-child(3) {
        background-image: url(./../img/10Radio.png); }
      .projects .projects-grid__project:nth-child(4) {
        background-image: url(./../img/JCBScaled.png); }
      .projects .projects-grid__project:nth-child(5) {
        background-image: url(./../img/cleaning.png); }
      .projects .projects-grid__project:nth-child(6) {
        background-image: url(./../img/floorsAspect.png); }

.section-intro {
  padding: 10rem 0; }

.section-heading {
  text-align: center;
  font-size: 4rem;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif; }

.heading-separator {
  height: 4px;
  background: black;
  width: 70px;
  margin: auto;
  margin-top: 1rem; }

.contact {
  background-color: #252934; }
  .contact .section-intro {
    padding-bottom: 0; }
  .contact .section-heading {
    color: white; }
  .contact .heading-separator {
    background-color: white; }
  .contact .contactForm {
    padding-bottom: 10rem;
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: column; }
    .contact .contactForm__header {
      color: #04C2C9;
      font-size: 1.6rem;
      font-family: 'Raleway', sans-serif;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center; }
    .contact .contactForm textarea {
      min-height: 15rem;
      background-color: #1E242C;
      border: none;
      padding: 10px 15px; }
    .contact .contactForm input {
      background-color: #1E242C;
      padding: 10px 15px;
      border: none;
      margin-bottom: 0.3rem; }
    .contact .contactForm .submit {
      align-self: flex-end;
      background-color: transparent;
      border: 2px solid white;
      color: white;
      margin-bottom: 0; }
    .contact .contactForm__header {
      margin: auto; }

.formHeadingContainer {
  height: 10rem;
  position: relative; }

.footer {
  background-color: #1b242f;
  padding-top: 8.6rem;
  position: relative; }
  .footer__up {
    height: 50px;
    width: 50px;
    background-color: #E31B6D;
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%);
    left: 50%; }
    .footer__up i {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 2rem;
      color: white; }
  .footer__social-media-links {
    display: flex;
    margin: auto;
    justify-content: center; }
    .footer__social-media-links__link {
      margin: 0 1.5rem;
      height: 5.5rem;
      width: 5.5rem;
      background-color: #262F38;
      position: relative; }
      .footer__social-media-links__link i {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 2.5rem;
        color: white; }
  .footer__footer {
    font-size: 1.333rem;
    color: #8F9AA7;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    padding: 3.5rem 0; }

.strengths__two-item-container {
  display: flex;
  justify-content: space-around;
  width: 50%; }

@media only screen and (max-width: 1200px) {
  .strengths {
    flex-direction: column;
    margin-bottom: 5rem !important; }
  .bio {
    width: 100% !important; }
  .skills {
    width: 100% !important;
    margin-top: 5rem; }
  .bio-and-skills {
    flex-direction: column;
    padding: 0 3rem;
    padding-bottom: 10rem; }
  .strengths__two-item-container {
    width: 100%;
    justify-content: space-evenly; }
    .strengths__two-item-container:last-child {
      margin-top: 5rem; } }

@media only screen and (max-width: 700px) {
  .strengths {
    margin-bottom: 0 !important; }
  .strengths__two-item-container {
    flex-direction: column;
    align-items: center; }
    .strengths__two-item-container .strengths {
      flex-direction: column; }
      .strengths__two-item-container .strengths__item {
        margin-bottom: 5rem;
        width: 80% !important; }
    .strengths__two-item-container:last-child {
      margin-top: 0; } }

@media only screen and (max-width: 1550px) {
  .contactForm {
    width: 35% !important; } }

@media only screen and (max-width: 1350px) {
  .contactForm {
    width: 40% !important; } }

@media only screen and (max-width: 1250px) {
  .contactForm {
    width: 50% !important; } }

@media only screen and (max-width: 1024px) {
  .contactForm {
    width: 80% !important; } }

@media only screen and (max-width: 1170px) {
  .projects .projects-grid__project {
    width: 50%;
    padding-top: calc((50% / 100) * 76.92); } }

@media only screen and (max-width: 700px) {
  .projects {
    padding-bottom: 0; }
    .projects .section-intro {
      padding: 3rem; }
    .projects .projects-grid {
      width: 100%; }
      .projects .projects-grid__project {
        width: 100%;
        padding-top: calc((100% / 100) * 76.92); } }

@keyframes arrowBounce {
  0%, 25% {
    transform: translate(-50%, -100%); }
  50% {
    transform: translate(-50%, -200%); }
  100% {
    transform: translate(-50%, -100%); } }

.header__scroll-arrow {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  font-size: 5rem;
  color: white;
  animation: arrowBounce 2s ease 1s infinite; }

.contactForm input, .contactForm textarea {
  color: white; }

.contactForm .submit {
  cursor: pointer;
  font-size: 2rem;
  padding: 1rem;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  white-space: nowrap; }

.thank-you {
  font-size: 2rem;
  text-align: left;
  color: white;
  opacity: 0;
  transition: opacity 1s;
  font-family: 'Raleway', sans-serif; }

.thank-you-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem; }

.header__scroll-arrow {
  cursor: pointer; }

@media only screen and (max-width: 1500px) {
  .thank-you {
    font-size: 1.8rem; } }

@media only screen and (max-width: 610px) {
  .thank-you {
    font-size: 1.5rem; } }

@media only screen and (max-width: 530px) {
  .thank-you {
    font-size: 1.3rem; } }

@keyframes shiftHideMenu {
  0% {
    transform: translateX(0);
    pointer-events: all; }
  100% {
    transform: translateX(50px);
    opacity: 0;
    pointer-events: none; } }

@keyframes shiftShowMenu {
  0% {
    transform: translateX(50px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1;
    pointer-events: all; } }

@keyframes shiftShowMobileMenu {
  0% {
    transform: translateX(50px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

.nav {
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  z-index: 1; }

.nav__branding {
  color: white;
  font-size: 3rem;
  font-family: 'Lobster', cursive;
  text-decoration: none; }

.nav__menu {
  list-style-type: none;
  display: flex;
  align-items: center; }

.nav__menu--hidden {
  pointer-events: none; }

.nav__menu--hidden .nav__menu-item--hidden {
  animation-name: shiftHideMenu;
  animation-duration: .3s;
  animation-fill-mode: forwards; }

.nav__menu-item {
  display: inline-block; }

.nav__menu-item-link {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  position: relative; }

.nav__menu-item-link:after {
  content: '';
  height: 2px;
  position: absolute;
  background-color: red;
  width: 0;
  left: 0;
  top: calc(100% + 2px);
  transition: width .4s; }

.nav__menu-item-link:hover:after {
  width: 100%; }

.nav__menu-item:not(:nth-last-child(3)) {
  margin-right: 4rem; }

.nav__menu-item--show {
  animation-name: shiftShowMenu;
  animation-duration: .3s;
  animation-fill-mode: backwards; }

.nav__menu-item--show.hamburger {
  display: inline-block; }

.nav__menu-item--hidden {
  animation-name: shiftHideMenu;
  animation-duration: .3s;
  animation-fill-mode: forwards; }

.hamburger {
  transition: all 1s ease;
  position: absolute;
  left: 100%;
  z-index: 2;
  cursor: pointer; }

.hamburger.isActive .hamburger__altMenuContainer--show {
  height: 5000px;
  width: 5000px;
  pointer-events: none; }

.hamburger--visible {
  transform: translateX(calc(-100% - 4rem)); }

.hamburger .line {
  width: 40px;
  height: 2px;
  display: block;
  background-color: white;
  border-radius: 10px;
  margin: 6px auto;
  transition: all .3s ease-in-out; }

.hamburger.isActive .line:nth-child(1) {
  transform: translateY(8px) rotate(45deg); }

.hamburger.isActive .line:nth-child(2) {
  opacity: 0; }

.hamburger.isActive .line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg); }

.hamburger__altMenuContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all .4s;
  background-color: black;
  height: 0;
  width: 0;
  border-radius: 50%;
  z-index: -1; }

.altMenuItems {
  pointer-events: none;
  display: none;
  z-index: 5;
  color: white;
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  font-size: 6rem; }

.altMenuItems a {
  color: white;
  text-decoration: none; }

.altMenuItems--shown {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

li.nav__mobileMenuItem {
  animation-name: shiftShowMobileMenu;
  animation-duration: .3s;
  animation-fill-mode: backwards;
  width: 100%; }

li.nav__mobileMenuItem a {
  pointer-events: all; }

.nav {
  background: transparent;
  justify-content: flex-end;
  z-index: 10;
  pointer-events: none; }
  .nav__menu {
    pointer-events: all; }
